.skills_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-between;

    .skill {
        width: 47%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;
        @media screen and (max-width: 600px) {
            width: 100%;
        }
        &_name {
            text-transform: uppercase;
            color: #ccc;
            font-weight: 600;
            font-size: 1.1rem;
        }

        .progress-bar-rect-wrap-container {
            flex-direction: row-reverse;
            h2 {
                margin: .6rem 1rem!important;
                margin-left: 0!important;
                font-size: 1.1rem!important;
            }

            .inner-rect-bar{
                background-color: #C3083F!important;
                border-radius: 0px!important;
            }
        }
    }

}

.sec_heading{
    text-transform: capitalize;
    color: #eee;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;

    i {
        color: #eee;
        font-size: 1.4rem;
        margin-right: .8rem;
    }
}

.resume_section {
    margin-top: 5rem;
}
.resume_section_main{
    margin-top: 3rem;

    .work_ex_sec{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;

        .work_ex{
            display: flex;
            padding: .4rem 0 3rem 1rem;
            border-left: 2px solid #4E4E50;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 13px;
                left: -8px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #10121B;
                border: 3px solid #4E4E50;
            }

            &--period {
                width: 30%;
                max-width: 14rem;
                margin-right: 10%;
                font-size: 1rem;
                margin-top: 5px;
            }

            &--details {
                width: 70%;

                .role {
                    font-size: 1.4rem;
                    text-transform: capitalize;
                    margin-bottom: .5rem;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -41px;
                        width: 25px;
                        height: 1px;
                        background-color: #4E4E50;
                    }
                }

                .company {
                    text-transform: capitalize;
                    color: white;
                }
            }
        }
    }
}



// .cert_slider{
//     width: 100%;

//     .swiper-container {
//         width: 100%;
//         height: 100%;
//         overflow: hidden;
//     }
//     .swiper-slide {
//         width:100%;
//         height:350px;

//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: contain;
//         }
//     }
// }

