.contact {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &>* {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }
}

.contact_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    &_panel {
        background-color: #1A1A1C;
        display: flex;
        padding: 1.5rem;
        margin-bottom: 1.2rem;
        width: 30%;
        min-width: 340px;
        margin-right: 1%;
        align-items: center;
        @media screen and (max-width: 600px) {
            // flex-direction: column;
        }
        .icon {
            border: 1px solid rgba(78, 78, 80, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            margin-right: 1rem;
            i {
                font-size: 1.5rem;
            }
        }
        .text {
            h4 {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            a {
                color: #a4acc4;
                font-size: 1rem;
                display: block;
                margin-bottom: .5rem;
                font-weight: 300;
                transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:hover {
                    color: #C3083F;
                }
            }
        }
    }
}

.contact_form {
    width: 100%;
    max-width: 45rem;
    &>p {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .input_group {
        margin-top: 30px;
        position: relative;
        label {
            position: absolute;
            left: 15px;
            top: -13px;
            background: #10121b;
            transition: all .4s ease-out;
            pointer-events: none;
            padding: 0 10px;
            font-size: .94rem;
        }
        input,
        textarea {
            border: 1px solid #2e344e;
            width: 100%;
            font-size: 1rem;
            height: 44px;
            padding: 0 1rem;
            background: transparent;
            font-family: Nunito, sans-serif;
            color: #a4acc4;
        }
        textarea {
            resize: none;
            height: 10rem;
            padding: 1rem;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}